* {
    margin: 0;
    padding: 0;
}
.welcome{
    background:#00004F ;
    color:#fff;
    text-align: center;
   }

.warpper {
    width: 1170px;
    margin: auto;
}

header {
    background: url("../photos/bkrnd.jpeg");
    background-attachment:fixed ;
    height: 100vh;
    -webkit-background-size: cover;
    background-size: absolute;
    background-position: right;
    position: relative;
}

.nav-area {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav-area li {
    display: inline-block;
}

.nav-area li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-family: poppins;
    font-size: 16px;
}

.nav-area li a:hover {
    background: #00004f;
    color: #fff;
    border-radius: 100px;
}

.logo img {
    width: 100px;
    float: left;
    height: auto;
}

.qry{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 10% 20%;
    text-align: left;
}

.qry h1{
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
}

.qry form{
background: rgba(0, 0, 79, 0.19);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.7px);
-webkit-backdrop-filter: blur(5.7px);
border: 10px solid rgba(0, 0, 79, 0.3);
line-height: 30px;
text-align: justify;
color: #ffffff;
font-size: 20px;
height: auto;
width: auto;
}

.button{

        background-color: #00004f;
        border-radius: 30px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        ;
      }

      footer{
        font-family: Times,serif;
        width:100%;
        height: 50px;
        padding-top:15px;
        bottom:0;
        background-color:deepskyblue;    
    }
    
    footer a{
        cursor: default;
        color:white;
        text-decoration:none;
        padding:15px 25px;
        border-radius:15px;
    }
    
    footer a:hover{
        transition-duration: 0.5s;
        background-color: #00004F;
    
    }